<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Fan site</title>
</head>
<body>
    <h1>Here is a fan page about X Japan!</h1>
    <h2></h2>
    <p>X Japan (Japanese: エックス・ジャパン, Hepburn: Ekkusu Japan) is a Japanese rock band from Chiba, formed in 1982 by drummer and pianist Yoshiki and lead vocalist Toshi. Starting as a predominantly power/speed metal band with heavy symphonic elements, they later gravitated towards a progressive sound with an emphasis on ballads. Besides being one of the first Japanese acts to achieve mainstream success while on an independent label, the group is widely credited as one of the pioneers of visual kei, a movement among Japanese musicians comparable to Western glam.</p>
</body>
</html>